* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e50914;
  --black: #141414;
}

/*Base Elements*/

body {
  background: var(--black);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header  .logo {
  width: 10rem;
  height: 5rem;
  margin-left: 5px;
  margin-right: 4rem;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 2rem;
}

header nav a:hover {
  color: #fff;
}

/*Main Movie*/

.main-movie {
  font-size: 20px;
  background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)100%), url(/img/header.jpg);
  background-size: cover;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin-top: 15px;
  margin-bottom: 40px;
  line-height: 1.6;
  font-family: "Poppins";
}

.tittle {
  margin-top: 10%;
  font-size: 60px;
}

.button {
  background-color: rgba(0,0,0,0.50) ;
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 17px 30px;
  margin-right: 17px;
  cursor: pointer;
  transition: .5s ease all;
}

.button:hover {
  background: #fff;
  color: #000;
}

.button i {
  margin-right: 8px;
}

.container {
  margin-left: 30px;
}

.main-movie .container {
  width: 90%;
}

.movie-box {
  width: 100%;
  height: 100%;

  cursor: pointer;

  display: block;
}

.movie-box:hover {
  filter: brightness(.5);
}


.movie-carousel {
  margin: 2rem 3rem;
  
}
